<p id="notice"><%= notice %></p>

<p>
  <strong>Firework year:</strong>
  <%= @firework_year.firework_year %>
</p>

<p>
  <strong>Firework:</strong>
  <%= @firework_year.firework %>
</p>

<%= link_to 'Edit', edit_firework_year_path(@firework_year) %> |
<%= link_to 'Back', firework_years_path %>
