<%= form_for @firework do |f| %>
  <% if firework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firework.errors.count, "error") %> prohibited this firework from being saved:</h2>

      <ul>
      <% firework.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="container-fluid">
      <div class="col-lg-12 col-lg-9 col-lg-12 col-xs-12">
        <div class="row">
          <div class="col-md-4">
            <div class="field">
              <%= f.label :firework_name %><br>
              <%= f.text_field :firework_name, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="field">
              <%= f.label :style %><br>
              <%= f.text_field :style, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="field">
              <%= f.label :description %><br>
              <%= f.text_field :description, class: "form-control" %>
            </div>
          </div>
          <% f.fields_for :firework_years do |y| %>
          <div class="col-md-2">
            <div class="field">
              <%= y.label :firework_year, "Year" %>
              <%= y.text_field :firework_year, class: "form-control" %>
            </div>
          </div>
          <% end %>
        </div>
        <br>
        <div class="actions">
          <%= link_to 'Back', fireworks_path, class: 'btn btn-primary' %>
          <%= f.submit "Finish", class: 'btn btn-success' %>
          </div>
        <br>
      </div>
    </div>
  </div>



<% end %>
