<h1>Listing Fireworks</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Firework name</th>
            <th>Style</th>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>

      <tbody>
        <% @fireworks.each do |firework| %>
          <tr>
            <td><%= firework.firework_name %></td>
            <td><%= firework.style %></td>
            <td><%= firework.description %></td>
            <td><%= link_to 'Show', firework, class: 'btn btn-mini btn-default' %></td>
            <td><%= link_to 'Edit', edit_firework_path(firework), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Destroy', firework, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Firework', new_firework_path, class: 'btn btn-success' %>
