<p id="notice"><%= notice %></p>
<p>
  <strong>Firework name:</strong>
  <%= @firework.firework_name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @firework.style %>
</p>

<p>
  <strong>Description:</strong>
  <%= @firework.description %>
</p>

<p>
  <% @firework.firework_details.each do |fd| %>
    <strong>Firework Year and Price:</strong>
    <br>
  <%= fd.price %>
  <%= fd.stash %>
  <%= fd.quantity %>
  <% end %>
</p>
<%= link_to 'New Year with details', new_firework_firework_year_firework_detail_path(@firework, firework_id: @firework.id, firework_name: @firework.firework_name)	 %>
<br>
<%= link_to 'Edit', edit_firework_path(@firework) %> |
<%= link_to 'Back', fireworks_path %>
