<p>
  <strong>Name:</strong>
  <%= @firework.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @firework.style %>
</p>

<p>
  <strong>Description:</strong>
  <%= @firework.description %>
</p>

<%= link_to 'Edit', edit_firework_path(@firework) %> |
<%= link_to 'Back', fireworks_path %>
