<%= form_for @firework_detail do |form| %>
  <% if @firework_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firework_detail.errors.count, "error") %> prohibited this firework_detail from being saved:</h2>

      <ul>
      <% firework_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.hidden_field :firework_id, value: params['firework_id'] %>
  </div>

  <div class="field">
    <%= form.label :stash %>
    <%= form.check_box :stash %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
