<p id="notice"><%= notice %></p>

<h1>Firework Details</h1>

<table>
  <thead>
    <tr>
      <th>Stash</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Firework</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @firework_details.each do |firework_detail| %>
      <tr>
        <td><%= firework_detail.stash %></td>
        <td><%= firework_detail.quantity %></td>
        <td><%= firework_detail.price %></td>
        <td><%= firework_detail.firework %></td>
        <td><%= link_to 'Show', firework_detail %></td>
        <td><%= link_to 'Edit', edit_firework_detail_path(firework_detail) %></td>
        <td><%= link_to 'Destroy', firework_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Firework Detail', new_firework_detail_path %>
