<p id="notice"><%= notice %></p>

<p>
  <strong>Stash:</strong>
  <%= @firework_detail.stash %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @firework_detail.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @firework_detail.price %>
</p>

<p>
  <strong>Firework:</strong>
  <%= @firework_detail.firework %>
</p>

<%= link_to 'Edit', edit_firework_detail_path(@firework_detail) %> |
<%= link_to 'Back', firework_details_path %>
